<div class="half-text-half-media">
    <div class="container">
        {%- for block in section.blocks -%}
            <div class="row {{ block.settings.media_positions }}">
                <div class="col-md-6">
                    <div class="media-item">
                        <img src="{{block.settings.image | img_url: '1920x'}}" alt="">

                        {% if block.settings.video_url != '' %}
                            <div class="vpop button play-video" data-type="youtube" data-id="6xcG6ttMDVY" data-autoplay='true'>
                                <svg aria-hidden="true" viewBox="0 0 50 50"><path d="M 10 5.25 L 10 44.75 L 11.5 43.875 L 42.09375 25.875 L 43.5625 25 L 42.09375 24.125 L 11.5 6.125 Z M 12 8.75 L 39.59375 25 L 12 41.25 Z"></path></svg>
                            </div>

                            {% comment %} POPUP Modal {% endcomment %}
                            <div class="video-popup modal">
                                <div class="modal-content">
                                    <span class="close-modal">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                                        <path d="M28.5 9.6l-2.1-2.1-8.4 8.4-8.4-8.4-2.1 2.1 8.4 8.4-8.4 8.4 2.1 2.1 8.4-8.4 8.4 8.4 2.1-2.1-8.4-8.4z" style="fill: #FFF;" /></svg>
                                    </span>
                                    <div class="video-container">
                                        <div id="player" data-id="{{block.settings.video_url}}"></div>
                                    </div>
                                </div>
                            </div>
                        {% endif;   %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="image-with-text__text-item">
                        <div class="title text-center">
                            <span>{{ block.settings.subheading }}</span>
                            <h2>{{ block.settings.heading }}</h2>
                            <p>{{ block.settings.introtext_rich }}</p>
                            <a href="{{ block.settings.button_url }}">Shop the collection</a>
                        </div>
                    </div>
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>

{% schema %}
{
    "name": "Half Text and Half Media",
    "blocks": [{
        "type": "half_text_half_media",
        "name": "Half Text and Half Media",
        "settings": [
            {
                "type": "select",
                "id": "media_positions",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ],
                "default": "left",
                "label": "Media Positions"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Upload Image"
            },
            {
                "type": "text",
                "id": "video_url",
                "label": "YouTube Video ID",
                "default": "_9VUPq3SxOc"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Sub Heading"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "inline_richtext",
                "id": "introtext_rich",
                "label": "Intro Text",
                "default": "Image with text"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button URL"
            }
        ]
    }],

    "presets": [
        {
            "name": "Half Text and Half Media"
        }
    ]
}
{% endschema %}


<style>
    .half-text-half-media .row.right {
        flex-direction: row-reverse;
    }
    .half-text-half-media .title h2 {
        font-size: 24px;
        margin: 15px 0;
    }
    .image-with-text__text-item {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .half-text-half-media a {
        background: #293355;
        color: #fff;
        padding: 20px 30px;
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 3px;
        transition: .4s;
        margin-top: 15px;
    }
    .half-text-half-media a:hover {
        background: #000;
        color: #fff;
    }
    .half-text-half-media .title {
        padding: 50px 30px;
    }

    .half-text-half-media .row {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .half-text-half-media .media-item img {
        width: 100%;
        transition: .4s;
    }

    .half-text-half-media .media-item {
        overflow: hidden;
        position: relative;
    }
    .half-text-half-media .media-item:hover img {
        transform: scale(1.05);
    }

    .half-text-half-media .button {
        position: absolute;
        width: 90px;
        height: 90px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        padding: 8px;
        cursor: pointer;
    }

    .half-text-half-media .button svg {
        width: 75px;
        height: 75px;
        fill: #fff;
        stroke: #fff;
    }

    /* Video */
    #video-popup-container {
        display:none;
        position: fixed;
        z-index: 996;
        width: 60%;
        left: 50%;
        margin-left: -30%;
        top: 20%;
        background-color: #fff;
    }

    #video-popup-close {
        cursor: pointer;
        position: absolute;
        right: -10px;
        top: -10px;
        z-index: 998;
        width: 25px;
        height: 25px;
        border-radius: 25px;
        text-align: center;
        font-size: 12px;
        background-color: #000;
        line-height: 25px;
        color: #fff;
    }

    #video-popup-iframe-container {
        position: absolute;
        z-index: 997;
        width: 100%;
        padding-bottom: 56.25%;
        border: 2px solid #000;
        border-radius: 2px;
        background-color: #000;
    }

    #video-popup-iframe {
        z-index: 999;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #000;
    }

    #video-popup-overlay {
        display: none;
        position: fixed;
        z-index: 995;
        top: 0;
        background-color: #000;
        opacity: 0.8;
        width: 100%;
        height: 100%;
    }

    #video-popup-close:hover {
        color: #DE0023;
    }

    .play-video {
        display: inline-block;
        padding: 10px 25px;
        text-align: center;
        color: #fff;
        background: #40c0c0;
        border: 1px solid transparent;
        border-radius: 50px;
        font-size: 1.1em;
        cursor: pointer;
    }

    .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        z-index: 100;
    }

    .show-modal {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

    .modal-content {
        position: relative;
        max-width: 56em;
        margin: 0 auto;
        display: block;
        height: auto;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
    }

    .video-container {
        padding-bottom: 56.25%;
        position: relative;
        overflow: hidden;
        height: 0;
        box-shadow: 0 0 15px #333;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    .close-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -20px;
        right: -20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 100%;
        border: 1px #fff solid;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        background-color: #70d0d0;
        text-align: center;
        text-decoration: none;
        color: #fff;
        z-index: 101;
        transition: all 0.3s ease;
    }

    .-webkit-.touchevents .close-modal {
        line-height: 0.5;
    }

    .close-modal svg {
        width: 100%;
    }

    .close-modal:hover {
        opacity: 0.8;
        color: #fff;
    }
</style>
