<div class="review-with-slider section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
    <div class="review-slider-container page-width">
        <div class="title text-center">
            <h2>{{ section.settings.heading }}</h2>
        </div>

        <div class="review-card swiper-mobile-slider ">
            <div class="review-card-inner-wrap">
                <div class="container">
                    <div class="row">
                        {%- for block in section.blocks -%}
                            <div class="col-md-4">
                                <div class="review-inner-card">
                                    <div class="review-product-details">
                                        <div class="review-product-image">
                                            <img src="{{ block.settings.review_image | image_url }}" alt="{{ block.settings.review_image.alt }}" width="90" height="120" loading="lazy"/>
                                        </div>

                                        <div class="review-product-data">
                                            <div class="review-product-star">
                                                <img src="{{ block.settings.rating_image | image_url }}" alt="{{ block.settings.rating_image.alt }}" class="rating-image" width="90" height="19" loading="lazy"/>
                                                <h3 class="rating-head">{{ block.settings.review_name }}</h3>
                                                <p class="verified-customer">{{ block.settings.verified_customer }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-meta-data">
                                        <p class="review-sub-heading">{{ block.settings.sub_heading }}</p>
                                        <h3 class="review_heading">{{ block.settings.rating_heading }}</h3>
                                        <p class="review_content">{{ block.settings.review_content }}</p>
                                        <a class="review-product-link" href="{{ block.settings.review_button_link }}">{{ block.settings.review_button_text }}</a>
                                    </div>
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .review-product-details {
        display: flex;
        gap: 34px;
    }

    .review-product-data img.rating-image {
        width: 100%;
        max-width: 89px;
        height: auto;
    }

    .review-product-data .rating-head,
    .verified-customer,
    .review-sub-heading,
    .review_heading,
    .review_content {
        font-size: 15px;
        font-style: normal;
    }

    .review-product-data .rating-head,
    .verified-customer,
    .review-sub-heading,
    .review_heading,
    .review_content {
        margin: 0;
    }

    .review-product-data .rating-head {
        font-weight: 600;
        line-height: normal;
    }

    .rating-content {
        color: #000924;
    }

    .verified-customer,
    .review-sub-heading,
    .review_content  {
        color: #727272;
        line-height: 137%;
    }

    .verified-customer {
        font-style: italic;
        font-weight: 400;
        position: relative;
        padding-left: 22px;
        padding-top: 5px;
    }

    .review-sub-heading {
        font-weight: 400;
        padding-top: 11px;
        line-height: 1.152;
    }

    .review_heading {
        font-weight: 600;
        line-height: normal;
        color: #000924;
        padding-top: 24px;
        padding-bottom: 7px;
    }

    .review_content {
        font-weight: 400;
        padding-bottom: 21px;
    }

    .review-product-link {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #2B4592;
    }

    .review-slider-heading .rating-with-text {
        justify-content: center;
        margin: 0;
    }

    .review-card {
        overflow: hidden;
        padding-bottom: 60px;
    }

    .verified-customer:before {
        content: '';
        background: url(https://cdn.shopify.com/s/files/1/1042/4718/files/Vector_f0c01644-5dd6-4ed3-b55c-e55cf5ddd734.svg?v=1697454432) no-repeat;
        background-size: contain;
        width: 100%;
        max-width: 17px;
        height: 17px;
        position: absolute;
        left: 0;
        top: 6px;
    }

    .review-card.swiper-mobile-slider .swiper-wrapper {
        box-sizing: border-box;
    }

    .review-card.swiper-mobile-slider .review-inner-card {
        background: #fff;
        border-radius: 23px;
        padding: 27px 37px;
    }

    .swiper-mobile-slider .swiper-pagination {
        position: relative;
        margin-top: 32px;
        z-index: 2;
    }

    .swiper-mobile-slider .swiper-pagination .swiper-pagination-bullet {
        background: #D9D9D9;
        width: 8.143px;
        height: 8.143px;
        margin: 0 4px;
        opacity: 1;
    }

    .swiper-mobile-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #2B4592;
    }

    .review-slider-heading h2 {
        font-style: normal;
        line-height: normal;
        margin: 0;
        font-size: 20px;
        color: #000924;
        padding-bottom: 7px;
    }

    .review-slider-heading {
        text-align: center;
        margin-bottom: 42px;
    }

    .review-slider-container.page-width {
        width: 100%;
        max-width: 1321px;
    }

    .review-with-slider {
        margin-top: 39px;
    }

    @media (max-width: 992px) {
        .review-product-data img.rating-image {
            max-width: 75px;
        }

        .review-card-inner-wrap .review-inner-card {
            width: 31%;
            flex-basis: 31%;
        }

        .review-card-inner-wrap {
            gap: 20px;
            flex-wrap: wrap;
        }

        .review-product-image {
            height: 100px;
        }

        .review-product-image img {
            height: 100%;
        }

        .review-card.swiper-mobile-slider .review-inner-card {
            padding: 17px 31px 31px;
            letter-spacing: normal;
        }

        .review-product-data .rating-head {
            font-size: 12px;
            font-style: normal;
        }

        .verified-customer:before {
            max-width: 14px;
            height: 14px;
            position: absolute;
            left: -3px;
            top: 7px;
        }

        .review-sub-heading {
            font-size: 13px;
            line-height: 17.6px;
            margin-top: 10px;
            padding-top: 0;
        }

        .review_heading,
        .review_content {
            font-size: 14px;
            letter-spacing: normal;
        }

        .verified-customer {
            font-size: 13px;
            padding-left: 15px;
        }

        .review_content {
            letter-spacing: 0;
            padding-bottom: 16px;
        }

        .review-product-link {
            font-size: 12px;
        }
        .review-slider-heading h2{
            letter-spacing:normal;
        }
    }

    @media (min-width: 992px) {
        .review-card.swiper-mobile-slider .swiper-wrapper {
            overflow: hidden;
            justify-content: space-between;
            gap: 49px;
        }

        .review-with-slider {
            margin-top: 0px;
            margin-bottom: 0px;
            background-color: #fafafa;
        }

        .review-card.swiper-mobile-slider .review-inner-card {
            width: 100%;
            max-width: 379px;
        }

        .swiper-mobile-slider .swiper-pagination {
            display: none;
        }

        .review-slider-heading h2 {
            font-size: 25px;
            padding-bottom: 9px;
        }

        .review-slider-heading {
            margin-bottom: 48px;
        }

        html .review-card.swiper-mobile-slider .swiper-wrapper {
            display: flex;
            position: unset;
            width: auto;
            height: auto;
            transition-property: none;
            transition-timing-function: unset;
            flex-wrap: wrap;
        }

        html .review-card.swiper-mobile-slider .swiper-wrapper .review-inner-card.swiper-slide {
            flex-basis: 29%;
            width: 31%;
        }
    }

    @media (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }

    @media (max-width: 1280px) {
        html .review-card.swiper-mobile-slider .swiper-wrapper {
            gap: 30px;
        }
    }

    @media (max-width: 992px) {
        html .review-card.swiper-mobile-slider .swiper-wrapper {
            gap: 0;
        }
    }

    @media (max-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.mobile_padding_top }}px;
            padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
        }

        .review-card-inner-wrap .review-inner-card {
            width: 100%;
            flex-basis: 100%;
        }

        .review-card {
            overflow: visible;
            margin: 0 -20px;
        }

        .review-product-details {
            gap: 20px;
        }
    }
    .review-meta-data{
        line-height: normal;
    }
    @media only screen and (min-width:1200px){
        .review-slider-container.page-width{
            padding:0 9.5rem;
            max-width: 100%;
        }
        html .review-card.swiper-mobile-slider .swiper-wrapper .review-inner-card.swiper-slide {
            width: auto;
            flex-basis: auto;
            max-width: 30.32%;
        }
    }
</style>

{% schema %}
{
  "name": "Review with Slider",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "review_image",
          "label": "Rating Product Image"
        },
        {
          "type": "image_picker",
          "id": "rating_image",
          "label": "Rating Image"
        },
        {
          "type": "text",
          "id": "review_name",
          "label": "Review Name"
        },
        {
          "type": "text",
          "id": "verified_customer",
          "label": "Verified Customer"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading Name"
        },
        {
          "type": "text",
          "id": "rating_heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "review_content",
          "label": "Review Content"
        },
        {
          "type": "text",
          "id": "review_button_text",
          "label": "Product Text"
        },
        {
          "type": "url",
          "id": "review_button_link",
          "label": "Product Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Review with Slider"
    }
  ]
}
{% endschema %}
