{% include 'page-header', title: 'News' %}

<section class="blog">
    <div class="container">
        <div class="row">
            {% for article in blog.articles %}
            <div class="col-sm-4">
                <div class="blog-list">
                    <img class="img-responsive"
                        loading="lazy"
                        src="{{ article.image | img_url: '300x300' }}"
                        data-src="{{ img_url }}"
                        data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                        data-aspectratio="{{ article.image.aspect_ratio }}"
                        data-sizes="auto"
                        width="300" height="300"
                        alt="{{ article.title | escape }}">

                    <div class="blog-list-content">
                        <div class="title rainbow">
                            <a href="{{ article.url }}"> {{ article.title }} </a>
                        </div>
                        <div class="blog-footer">
                            <time datetime="{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}" class="date">{{ article.published_at | date: format: 'date' }}</time>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>






<style>
    /*======================================
            Blog
========================================*/
.blog{padding:40px 0;}

.blog-list-content{ padding: 20px 25px;background-color: #f5f8fa;
    box-shadow: 0 30px 30px 0 rgba(0,0,0,.1);
 margin:-50px 20px 20px; position: relative; z-index: 1  }

.blog-footer{ padding: 15px 0 ; }

.col-sm-4.blog-list {
    margin-bottom: 20px;
    padding: 0px;
}
.blog-list-content .title {
    margin: 0;
    padding: 0;
}
.blog-list-content .title a{
    font-size: 18px; font-weight: bold;
    color: #666;
    transition: all .50s;
}

.blog-footer { font-weight: 100;  }
.blog-footer span{ color:#bfbfbf; margin-left:15px;}

.blog-list img {
    width: 100%;
}

</style>